<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styling.css?v=1.66" />
  </head>
  <body class="body">
    <div class="page">
      <div>
        <!-----------------Sentiment Analysis Code Start Here-------------------------->
        <div>
          <div>
            <div class="head">
              <h2>Sentiment Analysis Model</h2>
            </div>
          </div>

          <div >
            <div>
              <div class="data">
                <span>Enter Text Here</span>
                <form
                  action="/sentiment_prediction"
                  method="post"
                  enctype="multipart/form-data"
                >
                  <input class="input" name="text" class="form-control" placeholder="Text" />
                  <input class="button" type="submit" />
                </form>
              </div>
            </div>

            <div class="output">
              <div class="output1" >
                <h1>Sentiment</h1>
                <div role="alert">
                  {% if probability %} {{ sentiment }} {% endif %}
                </div>
              </div>
  
              <div class="output1">
                <h1>Probability</h1>
                <div role="alert">
                  {% if probability %} {{ probability }} {% endif %}
                </div>
              </div>
            </div>

            <!--Image -->
            <div></div>
            {% if probability %}
            <div class="emotion">
              <h1>Emotion</h1>
              <img src="{{ image }}" alt="Image" />
              {% endif %}
            </div>
            <!--Image-->
          </div>
        </div>
        <!-------------Sentiment Analysis Code End------------------------->
      </div>
    </div>
  </body>
</html>
